/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* :root {
  --color-positive: rgb(132,204,22);
  --color-negative: rgb(239,68,68);
  --color-undefined: rgb(209,213,219);
}

body {
} */
