.icon-item {
    z-index: 1;
    padding: .3rem;
    margin: .3rem;
    border-radius: .25rem;
    cursor: pointer;
}
.icon-item:hover {
    background-color:lightgray;
}
.rectangle {
    position: absolute;
    left: 2rem;
    top: -.5rem;
    width: 15px;
    height: 15px;
    background-color: white;
    transform: rotate(45deg);
    border-top: 1px solid gray;
    border-left: 1px solid gray;
}